<div class="footer_bottom">
  <div class="container">
    <div class="copyrights">
      <div class="logo_block">
        <img
          src="https://www.zigzag.am/static/version1666962451/frontend/Magento/zigzag/en_US/images/svg/logo_white.svg"
          alt="photo">
      </div>
      <p class="info_block">©"ZIGZAG" LLC, 2022 All rights <br> reserved </p>
    </div>
    <div class="socials_payments">
      <div class="payment_icons">
        <div class="icons_block">
          <img src="https://www.zigzag.am/static/version1666962451/frontend/Magento/zigzag/en_US/images/svg/visa.svg" alt="photo">
        </div>
        <div class="icons_block">
          <img src="https://www.zigzag.am/static/version1666962451/frontend/Magento/zigzag/en_US/images/svg/mastercard.svg" alt="photo">
        </div>
        <div class="icons_block">
          <img src="https://www.zigzag.am/static/version1666962451/frontend/Magento/zigzag/en_US/images/svg/maestro.svg" alt="photo">
        </div>
        <div class="icons_block">
          <img src="https://www.zigzag.am/static/version1666962451/frontend/Magento/zigzag/en_US/images/svg/arca.svg" alt="photo">
        </div>
        <div class="icons_block">
          <img src="https://www.zigzag.am/static/version1666962451/frontend/Magento/zigzag/en_US/images/svg/idram.svg" alt="photo">
        </div>
      </div>
    </div>
  </div>
</div>
