.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer_bottom {
  padding-top: 20px;
  padding-bottom: 60px;
}

.copyrights {
  max-width: 50%;
  font-size: 120%;
  line-height: 18px;

  .logo_block {
    width: 122px;
    height: 34px;
    margin-bottom: 15px;

    & img {
      width: 100%;
      height: 100%;
    }
  }
  .info_block {
    font-size: 80%;
    line-height: 18px;
    color: white;
  }
}

.socials_payments {

}
.payment_icons{
  display: flex;
  align-items: center;
  margin: 0 -3px;
  padding-top: 25px;
}
.icons_block{
  margin: 5px;
  width: 48px;
  height: 30px;
  & img{
    width: 100%;
    height: 100%;
  }
}
