.product_block {
  position: relative;
  width: calc(1150px / 4 - 10px);
  min-height: 25em;
}

.sticker_block {
  position: absolute;
  top: 0;
  left: 0;
  width: 5em;
  height: 5em;
  z-index: 2;

  & img {
    width: 100%;
    height: 100%;
  }
}

.images_block {
  display: flex;
  flex-direction: column;
  border: 1px solid #e5e5e5;
  padding: 45px 25px 25px;
  position: relative;
  width: 100%;
  background: #fff;
  justify-content: center;
  align-items: center;

  &:nth-last-child(odd) {
    margin-right: 0;
  }

  & img {
    width: 80%;
    height: 80%;
    transition: all 0.3s;

    &:hover {
      transform: scale(1.1);
      cursor: pointer;
      transition: all 0.3s;
    }
  }

  & img:hover + h6 {
    color: rgba(14, 87, 139, 0.75);
    transition: all 0.3s;

  }

  & h6 {
    color: #0e578b;
    font-size: 130%;
    line-height: 19px;
    margin: 10px 0;
    transition: all 0.3s;
    position: relative;
  }

  & p {
    font-size: 120%;
    line-height: 1em;
    color: #333;
    margin-top: 10px;
  }
}

.product_block:hover .buttons_block {
  transition: all 0.3s;
  height: 50px;
  overflow: visible;
}

.buttons_block {
  position: relative;
  overflow: hidden;
  height: 0;
  z-index: 6;
  margin-top: 10px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s;

  .button_buy {
    color: white;
    font-size: 16px;
    background-color: #0e578b;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    padding: 0.5em 2em;
    border: #0e578b 1px solid;
  }

  .button_compare {
    padding: 0.5em 1em;
    font-size: 16px;
    border: #0e578b 1px solid;
    transition: all 0.3s;
    color: #0e578b;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      color: white;
      background-color: #0e578b;
      transition: all 0.3s;
    }
  }
}
