.container {
  margin: auto;
}
.main_images_block {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
h3 {
  font-size: 150%;
  line-height: 1.33em;
  color: #333;
  margin: 20px 0;
}

